
.navBar {
    /* background-color: rgba(96, 192, 179, 0.9); */
    /* background-color: rgba(111, 198, 186, 0.6); */
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navItems {
    width: 100%;
}

.logoImage {
    width: 220px;
}

.form {
    display: flex;
    gap: 15px;
    width: -moz-available;
}

input {
    flex: 1;        /* this make the input use all the space that has available. It won't overlap others components. */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 600;
    width: 650px;
}

.submitButton {
    background-color: rgba(249, 188, 8, 0.7);
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(249, 188, 8, 0.2);
    transition: background-color 250ms, box-shadow 250ms;
}

.submitButton:hover {
    background-color: rgba(249, 188, 8, 0.9);
    box-shadow: 0px 2px 4px -1px rgba(249, 188, 8, 1);
}

.socialMidiaIcon {
    width: 50px;
}