@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;   /* added the font that was imported above */
}

.App {
  text-align: center;
  background-color: #f9bc50;
}

.Content {
  
}

main {
  display: flex;
  justify-content: center;
}