/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=VT323&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;   /* added the font that was imported above */
}

.App {
  text-align: center;
  background-image: url(static/images/fakeRaining.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.Content {
  min-height: 80vh;
}

main {
  display: flex;
  justify-content: center;
}